<h1><%= @cat.name %></h1>
<h3>Birthdate: <%= @cat.birth_date %></h3>
<h3>Color: <%= @cat.color %></h3>
<!-- <h3>Age: <%#= @cat.age %></h3> -->
<h3>Sex: <%= @cat.sex %></h3>
<h3>Description: <%= @cat.description %></h3>
<h3>Rental Requests:</h3>
<h1>
  <%= @cat_rental_request %>
<table>
  <tr>
    <th> Start Date</th>
    <th> End Date</th>
    <th> Status</th>
  </tr>
</table>
